<h1><%= @project.name %></h1>
<p><strong>Description:</strong> <%= @project.description %></p>

<h3>Features</h3>

<ul class="feature_list">
	<%= render partial: "features/feature", collection: @project.features, as: :feature, locals: { project: @project } %>
</ul>

<%= render partial: "features/feature_form", locals: { project: @project } %>