<li class="account">
	<div class="row">
		<div class="large-4 columns"><%= account.username %></div> 
		<div class="small-4 columns">
			<%= link_to 'Remove from project', project_member_path(:id => project.id, :account_id => account.id), method: :delete,
		 		class: 'button radius tiny alert' %>
		</div>
		<div class="small-4 columns">
		</div>
	</div>
</li>