<li class="feature">
	<div class="row">
		<div class="large-12 columns">
			<strong><%= feature.name %></strong>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<p><%= feature.description %></p>
		</div> 
	</div>	
	<div class="row">
		<div class="large-12 columns">
			<%= link_to 'Show', project_feature_path(project, feature), class: 'button radius tiny' %>
			<%= link_to 'Delete', project_feature_path(project, feature), method: :delete,
		 		class: 'button radius tiny alert delete_feature', :remote => true %>
		</div>
	</div>
</li>