<nav class="top-bar">

	<ul class="title-area">
		<li class="name logo">
			<h1>cream pie</h1>
		</li>
	</ul>

	<section class="top-bar-section">
		
		<ul class="left">
		  <li>
		  	<%= link_to "Projects", projects_path %>
		  </li>
		  <li>
		  	<%= link_to "Dash", '#' %>
		  </li>
		  <li>
		  	<%= link_to "H_Projects", h_projects_path %>
		  </li>
		</ul>

		<ul class="right">
			<li>
				<%= link_to current_user.username, '#' %>
			</li>
		</ul>
	</section>

</nav>
	